@media (max-width: 576px) { 
    footer{
        position: relative;
        top: 0;
    }
    .footer-mid{
        padding: 5px;
    }
    .footer-mid-box{
        display: flex;
        justify-content: center;
    }
    .footer-heading{
        font-size: 19px;
    }
    .footer-mid-links{
        font-size: 14px;
    }
    .social-heading{
        float: none;
        text-align: center;
    }
    .footer-form-elements{
        text-align: center;
    }
    .inp-email{
        width: 60%;
        height: 40px;
    }
    .inp-email::placeholder {
        font-size: 13px;
    }
    .btn-submit{
        width: 30%;
        height: 40px;
        font-size: 13px;
    }
    .footer-icons{
        padding-top: 20px;
        text-align: center;
    }
    .media-icons{
        float: none;
        font-size: 30px;
        padding-left: 0;
        padding-right: 15px;
    }
    .footer-bottom{
        display: block;
        text-align: center;
    }
    .footer-policy a{
        font-size: 15px;
    }
 }
 @media (min-width: 576px) and (max-width: 768px) {
    .footer-heading{
        font-size: 20px;
    }
    .footer-mid-links{
        font-size: 15px;
    }
    .footer-mid-box{
        padding: 0;
    }
    .footer-social{
        padding-right: 0;
    }
    .inp-email{
        width: 60%;
        height: 42px;
    }
    .inp-email::placeholder {
        font-size: 14px;
    }
    .btn-submit{
        width: 30%;
        height: 42px;
        font-size: 15px;
    }
    .footer-icons{
        padding-top: 20px;
    }
    .media-icons{
        font-size: 32px;
    }
    .footer-policy a{
        font-size: 18px;
    }
  }
 @media (min-width: 768px) and (max-width: 992px) { 
    .footer-heading{
        font-size: 21px;
    }
    .footer-mid-links{
        font-size: 14px;
    }
    .inp-email{
        width: 60%;
        height: 45px;
    }
    .inp-email::placeholder {
        font-size: 15px;
    }
    .btn-submit{
        width: 30%;
        height: 45px;
        font-size: 15px;
    }
    .media-icons{
        font-size: 35px;
    }
    .footer-policy a{
        font-size: 19px;
    }
  }