footer{
    background: #218c74;
    color: #fff;
    font-family: 'Nunito', sans-serif;
}
a{
    color: #fff;
    text-decoration: none;
}
.footer-heading{
    font-size: 25px;
}
.footer-mid-links{
    font-size: 20px;
}
.footer-social{
    display: flex;
    justify-content: flex-end;
}
.inp-email{
    width: 65%;
    height: 55px;
    border-radius: 50px;
}
.inp-email::placeholder {
    color: #218c74;
}
.btn-submit{
    width: 32%;
    height: 55px;
    border-radius: 50px;
    background: #55efc4;
}
.btn-submit :hover{
    background: #55efc4;
    color: #218c74;
}
.media-icons{
    float: right;
    font-size: 40px;
    padding-left: 20px;
}
.media-icons :hover{
    color: #55efc4;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
}
.footer-policy{
    font-size: 20px;
}