@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

footer {
    position: absolute;
    top: 10px;
    width: 100%;
    height: 10px;
}

.footer-top {
    position: absolute;
    top: 130px;
    width: 100%;
}

.footer-mid {
    position: relative;
    top: 135px;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-between;
    background-color: #218c74;
    z-index: -1;
}

.footer-mid-elements-1 {
    position: relative;
    top: 130px;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.footer-mid-elements-1-list {
    list-style: none;
    font-size: 17px;
}

.footer-mid-elements-list-heading {
    line-height: 0;
}

.footer-mid-elements-list-link {
    text-decoration: none;
    color: #fff;
    line-height: 30px;
    cursor: pointer;
}

.footer-mid-elements-2 {
    position: relative;
    top: 130px;
    margin-right: 70px;
}

.footer-mid-elements-2-heading {
    float: right;
}

.footer-mid-elements-2-input-email {
    width: 350px;
    height: 40px;
    border-radius: 25px;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    padding-left: 20px;
}

.footer-mid-elements-2-input-email::placeholder {
    color: #218c74;
}

.footer-mid-elements-2-icons {
    position: relative;
    top: 20px;
}

.footer-mid-elements-2-icons .fa-brands {
    font-size: 35px;
    color: #fff;
    padding: 10px;
    float: right;
}

.footer-mid-elements-2-icons .fa-brands :hover {
    color: #55efc4;
}

.footer-bottom {
    position: relative;
    top: 95px;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

.footer-bottom-elements {
    display: flex;
    justify-content: space-between;
    width: 220px;
}

.footer-bottom-elements-policy {
    color: #C0C0C0;
    text-decoration: none;
}

.footer-bottom-elements-terms {
    color: #C0C0C0;
    text-decoration: none;
}

li :hover {
    color: #C0C0C0;
}

small :hover {
    color: #fff;
}

a:hover i {
    transform: scale(1.2);
}

input[type=submit] {
    width: 130px;
    height: 40px;
    border-radius: 25px;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    color: #218c74;
    background-color: #55efc4;
    cursor: pointer;
}

#input-button:hover {
    color: #fff;
    background-color: #19efc4;
}